<h3 class="account-header">Welcome to your profile dashboard!</h3>


<div class="flexer">
        <div id="left">

            <h1>Information</h1>


            <p> &#129418 <span class="txt-info">Your username: </span> {{infoUser.username}}</p>
            <p> &#127928 <span class="txt-info">Your email: </span> {{infoUser.email}}</p>
            <p> &#129408 <span class="txt-info">Describe yourself: </span> {{infoUser.about}}</p>
            
            <h1>Want to update it? <br> Indicate below the new info:</h1>

            <form id="form-toflex" action="/users/update/{{infoUser._id}}" method="post">


                <div class="toflex">
                    <label class="label-down" for="username"> &#127888 New username</label>
                    <input type="text" id="username" name="username" value="">
                </div>

                <div class="toflex">
                    <label class="label-down" for="email"> &#127882 New email</label>
                    <input type="text" id="email" name="email" value="">
                </div>
                
                <div class="toflex">
                    <label class="label-down" for="about"> &#127871 Change your description</label>
                    <input type="text" id="about" name="about" value="" placeholder="">
                </div>

            <button id="btn">Confirm the changes ! </button>
            </form>
            <br>

            <a href="/users/delete/{{infoUser._id}}">Delete your account</a>

        </div>

        <div id="droite">
            <img id="rire-de-droite" src="/images/sign.jpeg" alt="">
        </div>

</div>