<div>The details of your memory:</div>
<h3>Title: {{title}}</h3>
<h3>Song chosen: {{song}}</h3>
{{!-- <h3>Who I was with: {{with}} </h3> ERR: #WITH REQUIRES ONLY ONE ARGUMENT --}}
<h3>My mood this day: {{mood}}</h3>
<h3>Full description of my memory: {{description}}</h3>
<h3>Date: {{date}}</h3>
<a href="/memories/your-profile">Go back to your profile</a>