<div>The details of your memory:</div>
<h3>Title: {{title}}</h3>
<audio id="preview" src="{{this.song}}" controls></audio>
<h3>Who I was with: {{waswith}} </h3> 
<h3>My mood this day: {{mood}}</h3>
<h3>Full description of my memory: {{description}}</h3>
<h3>Date: {{formatDate date}}</h3>
<a href="/memories/your-profile">Go back to your profile</a>