<div>Display all memories</div>

{{#each allMemories}}
<h3>Title: {{this.title}}</h3>
{{!-- <audio id="preview"
  src="{{this.song}}" controls>
</audio> --}}
<video src="{{this.song}}" controls>
  Your browser does not support the video tag.
</video>
<h3>Description: {{this.description}}</h3>



<a href="/memories/{{this._id}}">Click to see more</a>
<a href="/memories/delete/{{this._id}}">Click to delete</a>
<a href="/memories/update/{{this._id}}">Click to update</a>
{{/each}}

<a href="/memories/create">Create a new memory!</a>

